@use '../abstracts/variables' as variables; 

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: variables.$second-color;
}

h1, h2, h3, h4, h5, h6{
    font-family: variables.$primary-font;
}

h1{
    font-size: variables.$mobile-title-size;
}

h2, h3{
    font-size: variables.$mobile-subtitle-size;
}

p{
    font-size: variables.$mobile-paragraph-size;
}

a, p, li, label{
    font-family: variables.$second-font;
}

@media(max-width : 900px){
    h1{
        font-size: variables.$desktop-title-size;
    }
    
    h2, h3{
        font-size: variables.$desktop-subtitle-size;
    }
    
    p{
        font-size: variables.$desktop-paragraph-size;
    }
}