@use '../abstracts/variables' as *;

header {
    background-color: $second-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;

    img{
        overflow: hidden;
    }
    .menu {
        padding: 10px;
        font-family: $primary-font;

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex; // Menu horizontal
            gap: 20px; // Espacement entre les items
        }

        &__item {
            position: relative; // Nécessaire pour positionner les sous-menus

            &--has-children {
                &:hover .submenu {
                    display: block; // Affiche le sous-menu au survol
                }
            }
        }

        &__link {
            text-decoration: none;
            text-transform: uppercase;
            color: $sixth-color; // Couleur des liens
            padding: 10px 15px;
            transition: background 0.3s;

            &:hover {
                color: $fourth-color; // Couleur de fond au survol
            }
        }
    }

    .submenu {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%; // Place le sous-menu sous le parent
        left: 0;
        display: none; // Masqué par défaut
        background-color: $second-color; // Couleur de fond du sous-menu
        border-radius: 10px;

        &__item {
            margin: 0;

            & a {
                padding: 10px 15px;
                width: 200px;
                text-decoration: none;
                text-transform: uppercase;
                display: block; // Chaque lien occupe toute la largeur
                color: $sixth-color;

                &:hover {
                    background-color: $third-color;
                    color: $sixth-color;
                    border-radius: 10px;
                }
            }
        }
    }
}