// Color 
$first-color : #070707;
$second-color : rgb(40, 35, 28);
$third-color : #513B3C;
$fourth-color : #655356;
$fifth-color : #C1EEFF;
$sixth-color : #ffffff;

// Font
$primary-font : "Cherry Bomb One";
$second-font : "Mukta";

// Desktop
$desktop-title-size: 2.5rem;
$desktop-subtitle-size: 1.2rem;
$desktop-paragraph-size: 1.1rem;

// Mobile
$mobile-title-size: 1.8rem;
$mobile-subtitle-size: 1rem;
$mobile-paragraph-size: 0.9rem;


